<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Careconnect"
        tools:targetApi="31">
        <activity
            android:name=".Payment.PagoRealizadoActivity"
            android:exported="false" />
        <activity
            android:name=".SeleccionarFechaActivity"
            android:exported="false" />
        <activity
            android:name=".Payment.PagoCitaActivity"
            android:exported="false" />
        <activity
            android:name=".CitaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalHistory.HistorialMedicoResumenActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.PatientEditPersonalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.PatientViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.PatientMenuActivity"
            android:exported="false" />
        <activity
            android:name=".IngresarDatosLogin"
            android:exported="false" />
        <activity
            android:name=".RolCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".RolInteractivityRegister"
            android:exported="false" />
        <activity
            android:name=".IngresarDatosRegistro"
            android:exported="false" />
        <activity
            android:name=".MedicalHistory.HistorialMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>